html, body {
  height: device-height;
  overflow: hidden;
  width: device-width;
  position: center;

  margin: 10px;
  padding: 0;
}
canvas {
  display: flexed;
}
body {
  position: center;
}

h1 {
font-family: lores-9-plus-narrow, sans-serif;
font-weight: 400;
font-style: normal;
  }

.slide-right {
  width: device-width;
  overflow: hidden;
  margin-left: 0px;
  max-width: 500px
}

.slide-right h2 {
  animation: 2s slide-right 2s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}
